html
	head
		meta(charser="utf-8")
		title 这是一个萌新的jade页面
		style div{width:200px;height:200px;background:red;transition:0.7s}div:hover{background:green}
	body
		div
		ul
			li fjaldfjal
			li fjqiwefia
			li eqwdklmcx
			li ferpfkerm
			
